header {
  background-color: darkolivegreen;
  padding: 0.5% 8%;
}
header img {
  height: 150px;
  width: auto;
}
header p {
  display: inline-block;
  color: white;
  font-weight: 600;
}
.meme-form button {
  background-color: darkolivegreen;
}

.meme {
  position: relative;
}

.meme .top{
  position: absolute;
  top: 0%;
  left: 2%;
  color: white;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.meme .bottom{
  position: absolute;
  bottom: 0%;
  left: 2%;
  color: white;
  font-size: 1.2rem;
  text-transform: uppercase; 
}

.meme img {
  width: 500px;
}